In [22]:
import pandas as pd
import numpy as np

from datetime import datetime

%matplotlib inline
pd.set_option('display.max_rows', 500)

# Groupby apply on large (relational) data set

In [23]:
pd_JH_data=pd.read_csv('../data/processed/COVID_relational_confirmed.csv',sep=';',parse_dates=[0])
pd_JH_data=pd_JH_data.sort_values('date',ascending=True).reset_index(drop=True).copy()
pd_JH_data.head()

        date    state       country  confirmed
0 2020-01-22  Alberta        Canada        0.0
1 2020-01-22       no  Korea, South        1.0
2 2020-01-22       no        Kosovo        0.0
3 2020-01-22       no        Kuwait        0.0
4 2020-01-22       no    Kyrgyzstan        0.0

# Test Data

In [24]:
test_data=pd_JH_data[((pd_JH_data['country']=='US')|
                      (pd_JH_data['country']=='Germany'))&
                     (pd_JH_data['date']>'2020-03-20')]
test_data.head()

            date state  country  confirmed
15737 2020-03-21    no  Germany    22213.0
15777 2020-03-21    no       US    24508.0
16003 2020-03-22    no  Germany    24873.0
16042 2020-03-22    no       US    33152.0
16269 2020-03-23    no  Germany    29056.0

In [25]:
test_data.groupby(['country']).agg(np.max)

              date state  confirmed
country
Germany 2020-09-04    no   250283.0
US      2020-09-04    no  6200518.0

In [26]:
# %load ../src/features/build_features.py

import numpy as np
from sklearn import linear_model
reg = linear_model.LinearRegression(fit_intercept=True)

def get_doubling_time_via_regression(in_array):
    

    y = np.array(in_array)
    X = np.arange(-1,2).reshape(-1, 1)

    assert len(in_array)==3
    reg.fit(X,y)
    intercept=reg.intercept_
    slope=reg.coef_

    return intercept/slope

In [27]:
test_data.groupby(['state','country']).agg(np.max)

                    date  confirmed
state country
no    Germany 2020-09-04   250283.0
      US      2020-09-04  6200518.0

In [28]:
def rolling_reg(df_input,col='confirmed'):
    
    days_back=3
    result=df_input[col].rolling(
                window=days_back,
                min_periods=days_back).apply(get_doubling_time_via_regression,raw=False)
    return result

In [29]:
test_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed')

state  country
no     Germany  15737            NaN
                16003            NaN
                16269       7.417994
                16534       7.142035
                16801       8.012983
                17067       6.954407
                17331       6.501919
                17598       7.390371
                17864      10.136671
                18129      13.541893
                18397      13.781393
                18662      13.140681
                18929      12.037271
                19193      12.735506
                19460      16.052694
                19726      21.372453
                19991      27.427355
                20259      27.511936
                20524      21.792179
                20790      21.495848
                21057      26.565108
                21323      36.198404
                21589      43.982990
                21855      49.423444
                22121      74.043747
                22387      56.424411
                22652      42.468318
                22919      41.525988
                23185      49.898063
                23451      75.684007
                23717      78.000000
                23982      94.526338
                24249      82.985208
                24514      62.294061
                24781      70.294338
                25047      91.536840
                25313     112.903164
                25579     140.472457
                25845     148.285092
                26111     115.116625
                26376     104.285868
                26643     128.349094
                26909     167.535921
                27175     207.816845
                27441     279.484107
                27707     247.616282
                27973     166.275622
                28239     138.835878
                28504     139.648255
                28771     179.986624
                29037     265.319391
                29302     274.642705
                29568     267.092879
                29835     227.702584
                30100     266.129559
                30365     307.670485
                30633     274.967556
                30899     309.480047
                31163     441.111389
                31430     251.099125
                31697     184.808186
                31962     287.086082
                32228     289.519806
                32495     372.170639
                32759     582.550162
                33026     587.311618
                33292     414.470948
                33557     392.008658
                33825     364.738956
                34090     260.678112
                34357     368.114804
                34622     750.711749
                34888     905.667490
                35154     783.060412
                35420     697.778621
                35687     621.103991
                35952     459.540888
                36218     378.218132
                36485     448.849072
                36751     563.792615
                37017     492.385362
                37283     902.561743
                37548    2017.005405
                37815     530.718750
                38081     649.518519
                38346    1283.130137
                38613     903.561446
                38878     511.763851
                39144     408.198120
                39411     241.394249
                39677     223.685349
                39943     446.100821
                40208     392.080164
                40474     348.336369
                40740     317.615894
                41006     348.817770
                41273     433.013094
                41538     332.061803
                41805     356.862925
                42070     591.767631
                42336     666.886986
                42602     538.071724
                42869     459.344301
                43133     411.541317
                43402     442.723036
                43667     475.320451
                43931     530.732167
                44198     456.339492
                44464     482.869919
                44729     624.783202
                44997     603.893617
                45262     628.785677
                45528     563.128060
                45795     680.249858
                46061     848.985138
                46327     745.567970
                46593     564.813146
                46859     404.289738
                47124     348.851371
                47390     413.880464
                47656     586.672464
                47922     451.231739
                48188     413.969450
                48455     428.543989
                48720     351.016037
                48986     304.271220
                49253     294.336435
                49517     394.998723
                49784     495.649081
                50050     398.388462
                50315     289.802417
                50583     228.223195
                50848     226.112610
                51114     286.140136
                51381     513.701989
                51647     382.360458
                51913     263.747512
                52179     212.804529
                52445     193.571536
                52711     206.544407
                52976     231.809013
                53243     397.061661
                53509     271.110696
                53775     194.001184
                54041     186.844463
                54306     161.177186
                54573     151.644156
                54838     202.555505
                55105     369.126096
                55371     203.795961
                55637     145.588821
                55903     151.813262
                56169     144.833544
                56435     139.237035
                56700     181.181264
                56967     319.173606
                57233     207.718414
                57499     152.843207
                57765     164.523315
                58031     160.009817
                58297     154.408858
                58562     213.643110
                58829     411.798699
                59093     247.734960
                59361     180.595818
                59625     188.636259
                59893     175.166018
                60158     173.290158
       US       15777            NaN
                16042            NaN
                16309       3.498776
                16574       4.170293
                16841       4.924326
                17107       4.605309
                17371       4.656402
                17653       5.336576
                17905       6.228945
                18169       6.986338
                18437       6.908798
                18703       7.322692
                18969       7.727527
                19233       7.863741
                19515       8.509948
                19767      10.092081
                20031      11.758896
                20299      12.168137
                20565      12.751442
                20830      12.963331
                21097      13.596369
                21363      15.640111
                21628      18.009116
                21895      20.631256
                22161      22.247854
                22427      21.707413
                22692      21.151373
                22959      20.922412
                23225      22.969844
                23490      26.750825
                23757      28.208839
                24022      29.696372
                24289      30.180436
                24554      26.941144
                24821      24.825600
                25087      26.203105
                25352      30.987791
                25619      38.552326
                25885      42.198851
                26151      39.055345
                26416      36.527008
                26683      33.678042
                26949      34.887174
                27214      41.430446
                27481      48.294855
                27747      50.778225
                28013      48.891730
                28278      46.460248
                28544      45.810909
                28810      48.689510
                29077      57.688653
                29342      69.033107
                29608      65.942632
                29875      63.722135
                30141      57.574047
                30405      53.780625
                30673      57.497298
                30939      66.754140
                31203      73.286423
                31485      71.744801
                31737      69.435527
                32003      63.450348
                32269      64.009509
                32535      69.962594
                32799      76.467742
                33081      82.940492
                33333      88.200032
                33597      90.889959
                33865      83.166946
                34131      73.155519
                34396      71.689586
                34677      80.148813
                34928      96.512671
                35209      95.040993
                35460      89.935215
                35726      89.946323
                35992      80.728889
                36258      79.367601
                36525      95.147270
                36791     110.639314
                37056     110.405848
                37323     101.785720
                37588      91.506248
                37855      83.862856
                38120      80.535367
                38385      91.345585
                38653     106.084051
                38919      97.561367
                39184      86.811830
                39451      81.098786
                39717      73.953774
                39982      69.221131
                40263      76.137888
                40514      80.145069
                40795      70.411225
                41046      66.951119
                41312      63.738424
                41578      56.951720
                41844      56.086949
                42125      60.970129
                42376      63.432294
                42657      59.903301
                42909      54.441257
                43173      50.905167
                43442      50.878532
                43707      56.312680
                43971      59.366881
                44253      60.936367
                44505      56.034821
                44769      50.507067
                45037      50.164921
                45303      47.611543
                45568      49.745703
                45835      54.452996
                46101      55.907166
                46366      53.175990
                46633      50.933902
                46899      48.445682
                47164      48.036905
                47430      53.899199
                47697      59.114995
                47962      61.220091
                48243      60.908067
                48496      57.608109
                48761      56.865910
                49027      56.744461
                49293      58.651279
                49557      68.787751
                49839      76.044250
                50091      70.222168
                50355      63.783405
                50623      63.772056
                50889      66.526569
                51154      72.612628
                51421      87.059011
                51687     100.431094
                51952      91.685726
                52219      86.443196
                52485      85.797301
                52751      82.858790
                53016      86.422707
                53283      96.884837
                53549     104.606172
                53814     105.735503
                54081      99.879424
                54346      96.442858
                54613      90.696852
                54878      94.607140
                55145     119.145185
                55411     139.992250
                55676     135.744110
                55943     119.866789
                56209     122.243661
                56475     120.358792
                56740     120.595325
                57007     143.068603
                57273     157.391062
                57538     150.913832
                57805     140.483170
                58071     129.279778
                58337     127.392986
                58617     126.767479
                58869     144.433394
                59133     172.565218
                59402     155.889350
                59665     146.464688
                59934     160.482444
                60200     141.473918
Name: confirmed, dtype: float64

In [30]:
pd_DR_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed').reset_index()

In [31]:

pd_DR_result=pd_DR_result.rename(columns={'confirmed':'confirmed_DR',
                             'level_2':'index'})
pd_DR_result.head()

     state country  index  confirmed_DR
0  Alberta  Canada      0           NaN
1  Alberta  Canada    465           NaN
2  Alberta  Canada    701           NaN
3  Alberta  Canada    966           NaN
4  Alberta  Canada   1263           NaN

In [32]:
pd_JH_data=pd_JH_data.reset_index()
pd_JH_data.head()

   index       date    state       country  confirmed
0      0 2020-01-22  Alberta        Canada        0.0
1      1 2020-01-22       no  Korea, South        1.0
2      2 2020-01-22       no        Kosovo        0.0
3      3 2020-01-22       no        Kuwait        0.0
4      4 2020-01-22       no    Kyrgyzstan        0.0

In [33]:
pd_result_larg=pd.merge(pd_JH_data,pd_DR_result[['index','confirmed_DR']],on=['index'],how='left')
pd_result_larg.head()

   index       date    state       country  confirmed  confirmed_DR
0      0 2020-01-22  Alberta        Canada        0.0           NaN
1      1 2020-01-22       no  Korea, South        1.0           NaN
2      2 2020-01-22       no        Kosovo        0.0           NaN
3      3 2020-01-22       no        Kuwait        0.0           NaN
4      4 2020-01-22       no    Kyrgyzstan        0.0           NaN

# Filtering the data with groupby apply

In [34]:
from scipy import signal

def savgol_filter(df_input,column='confirmed',window=5):
    ''' Savgol Filter which can be used in groupby apply function 
        it ensures that the data structure is kept'''
    window=5, 
    degree=1
    df_result=df_input
    
    filter_in=df_input[column].fillna(0) # attention with the neutral element here
    
    result=signal.savgol_filter(np.array(filter_in),
                           5, # window size used for filtering
                           1)
    df_result[column+'_filtered']=result
    return df_result

In [35]:
pd_filtered_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(savgol_filter).reset_index()

In [36]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_result[['index','confirmed_filtered']],on=['index'],how='left')
pd_result_larg.head()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered
0,0,2020-01-22,Alberta,Canada,0.0,NaN,0.0
1,1,2020-01-22,no,"Korea, South",1.0,NaN,0.8
2,2,2020-01-22,no,Kosovo,0.0,NaN,0.0
3,3,2020-01-22,no,Kuwait,0.0,NaN,0.0
4,4,2020-01-22,no,Kyrgyzstan,0.0,NaN,0.0

# Filtering doubling rate

In [37]:
pd_filtered_doubling=pd_result_larg[['state','country','confirmed_filtered']].groupby(['state','country']).apply(rolling_reg,'confirmed_filtered').reset_index()

pd_filtered_doubling=pd_filtered_doubling.rename(columns={'confirmed_filtered':'confirmed_filtered_DR',
                             'level_2':'index'})

pd_filtered_doubling.tail()

      state   country  index  confirmed_filtered_DR
60377    no  Zimbabwe  59146             124.782721
60378    no  Zimbabwe  59382             124.595147
60379    no  Zimbabwe  59678              94.218077
60380    no  Zimbabwe  59914              80.534870
60381    no  Zimbabwe  60381              84.126408

In [38]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_doubling[['index','confirmed_filtered_DR']],on=['index'],how='left')
pd_result_larg.tail()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
60377,60377,2020-09-04,no,Barbados,178.0,177.000000,178.0,196.777778
60378,60378,2020-09-04,no,Belarus,72485.0,420.403101,72471.4,445.252463
60379,60379,2020-09-04,no,Belgium,87174.0,137.043547,87057.0,175.478816
60380,60380,2020-09-04,no,Albania,9967.0,82.396095,9960.8,85.917976
60381,60381,2020-09-04,no,Zimbabwe,6837.0,67.514238,6801.6,84.126408

In [39]:
mask=pd_result_larg['confirmed']>100
pd_result_larg['confirmed_filtered_DR']=pd_result_larg['confirmed_filtered_DR'].where(mask, other=np.NaN)

In [40]:
pd_result_larg[pd_result_larg['country']=='Germany'].tail()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
59093,59093,2020-08-31,no,Germany,244802.0,247.734960,244873.6,227.240190
59361,59361,2020-09-01,no,Germany,246015.0,180.595818,246074.6,216.936758
59625,59625,2020-09-02,no,Germany,247411.0,188.636259,247470.2,189.585971
59893,59893,2020-09-03,no,Germany,248840.0,175.166018,248848.9,178.397842
60158,60158,2020-09-04,no,Germany,250283.0,173.290158,250227.6,180.495322

In [41]:
pd_result_larg.to_csv('../data/processed/COVID_final_set.csv',sep=';',index=False)